<h1>Invites#new</h1>

<%= form_with url: invites_path, method: :post, local: true, html: { autocomplete: "off" } do  |f| %> 

	<% if @invite.errors.any? %>
	  <div id="error_explanation">
	    <h2>
	      Виправте <%= pluralize(@invite.errors.count, "помилок") %> щоб відправити інвайт:
	    </h2>
	    <ul>
	      <% @invite.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
	<div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :email %>
      <%= text_field_tag 'email', '', {class: 'form-control'} %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :password %>
      <%= text_field_tag 'password', '', {class: 'form-control'} %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :level_id %>
      <%= f.select 'level_id', Level.all.map { |l| [ l.level, l.id] }, {include_blank: true}, {class: 'form-control'} %>
    </div>
  </div>

  <%= f.submit t('.new_invite'), class: 'btn btn-primary' %>

<% end %>


<%= params %>
