<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Панель адміністратора</h1>
  <p class="lead">Тут ви можете створювати інвайти, додавати тестові завдання, та перевіряти відповіді</p>
</div>

<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Інвайти</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <li>Інвайтів: <%= @invites %></li>
        <li></li>
      </ul>
    </div>
    <div class="card-footer">
    	<%= link_to('Створити інвайт', new_invite_path, class: 'btn btn-lg btn-block btn-primary')%>
    </div>
  </div>

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Тестові завдання</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <li>Технічних: <%= @test_technical_total %></li>
        <li>По англійській: <%= @test_english_total %></li>
      </ul>
    </div>
    <div class="card-footer">
      <%= link_to('Додати тестове', new_test_path, class: 'btn btn-lg btn-block btn-primary')%>
		</div>
  </div>

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Відповіді</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <li>На технічні завдання: </li>
        <li>З англійської: </li>
      </ul>
    </div>
    <div class="card-footer">
      <%= link_to('Список відповідей', solutions_path, class: 'btn btn-lg btn-block btn-primary', data: { turbolinks: false })%>
    </div>
  </div>
</div>
