<!DOCTYPE html>
<html>
  <head>
    <title>EverTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user && current_user.is_admin %>
      <%= render 'admin_menu' %>
    <% elsif current_user %>
      <%= render 'user_menu' %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col">
          <% if notice %>
            <div class="alert alert-info" role="alert"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div class="alert alert-primary" role="alert"><%= alert %></div>
          <% end %>  
        </div>
      </div>

    <%= yield %>

    </div>
  </body>
</html>
